
#sliderContainer{
  margin-top:85px;
  float:left;
  margin-right:0;
  width: 70%;
  overflow: hidden;
  position: relative;
}

.container {
  height: 700px;
  overflow: hidden;
  position: relative;
	}

.photo {
  position: absolute;
  animation: round 20s infinite;
  opacity: 0;
}


@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
img:nth-child(1) {
  animation-delay: 15s;
}

img:nth-child(2) {
  animation-delay: 10s;
}

img:nth-child(3) {
  animation-delay: 5s;
}

img:nth-child(4) {
  animation-delay: 0s;
}

.container1 {
  position: absolute;
  float:left;
  top:100px;
  left:100px;
  z-index: 2;

  }

.para {
  background-color: white;
  padding: 20px;
  position: absolute;
  animation: round 20s infinite;
  opacity: 0;
  min-width: 300px;
}

.para h1{
  font-size: 3em;

}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
div:nth-child(1) {
  animation-delay: 15s;
}

div:nth-child(2) {
  animation-delay: 10s;
}

div:nth-child(3) {
  animation-delay: 5s;
}

div:nth-child(4) {
  animation-delay: 0s;
}

