html, body{margin:0;}
body {font-family: "verdana"}

#wrapper{ max-width:100%;
		  margin:auto;
}

header{background-color:white
	;
	   height:100px;
	   z-index:10;
	   width:100%;
		position:fixed;
		top:0;
		margin:0;
		border-bottom: 5px solid darkgrey;


}
header img{float:left;
			margin:auto 0 auto 25px;}

header nav ul{float:right;}


nav ul li {display:inline-block; margin-top: 20px;
			}

nav ul li a{ padding:20px; text-decoration: none; color: grey; }
nav ul li a:hover {background-color: #2AA4FF;
				color:#fff;}

article{margin-top: 60px;
		background-color: #f1f1f1;
		min-height: 800px;

}

#pageHeading {font-size: 2.5em;
		color: white;
		z-index: 100;
		padding: 20px;
		text-align: center;
		width: 100%;
		height: 50px;
		background-color: rgba(0,0,0,0.2);
}


footer{clear: both;
		height: 65px;
		width: 100%;
		background-color: #2AA4FF;
		color: white;
		font-size: 0.5em;
		text-align: center;
		margin:0;
		}


#footerText{width: 700px;
			padding: 5px;
			margin-left: auto;
			margin-right: auto;
			}


/* Bellow are the codes for contact form in contact page */

#contactArticle {background-image: url("images/background3.jpg");
				background-position: right;
				overflow: hidden;
				margin-bottom: 0;
				}

article #formAndMap{width: 800px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 100px;

}

#formBox{width: 49%;
		height: 500px;
		padding: 20px;
		 border: 1px solid grey;
		 float:left;
		 background-color: #f1f1f1;
		 opacity: 0.9;
		}

#map {width: 45%;
		height: 540px;
		border: 1px solid grey;
		float: right;
		background-color: #f1f1f1;
		opacity: 0.9;
		}

#map #boxMap {width: 90%;
		height: 500px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
		color: white;
		text-align: center;
		z-index: 100;
		}